{{ $params := newScratch }}
{{ $params.Set "icon" "note" }}
{{ $params.Set "title" "Title" }}
{{ if .IsNamedParams }}
    {{ $params.Set "icon" (default "note" (.Get "style")) }}
    {{ $params.Set "title" (default ($params.Get "icon") (.Get "title") | title) }}
{{ else  }}
    {{ $params.Set "icon" (default "note" (.Get 0)) }}
    {{ $params.Set "title" (default ($params.Get "icon") (.Get 1) | title) }}
{{ end }}
<div class='admonitionblock {{ $params.Get "icon" }}'>
    <div class="table-wrap">
        <table>
            <tbody>
                <tr>
                    <td class="icon">
                        <i class='fa icon-{{ $params.Get "icon" }}' title='{{ $params.Get "title" }}'></i>
                    </td>
                    <td class="content">
                        {{ .Inner | markdownify }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>